/* Footer.css */

footer {
    background-color: #34495e; 
    color: #ecf0f1; 
    text-align: center;
    padding: 20px 0;
    width: 100%; 
    position: relative; 
    margin-top: auto; 
}


.footer-content {
    padding: 0 20px;
}

.footer-content p {
    margin: 5px 0;
}

.footer-content p a {
    color: #27ae60; 
    text-decoration: none;
}

.footer-content p a:hover {
    text-decoration: underline;
    color: #2ecc71;/
}


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1; 
}
